<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 1120}}</string>
		<string>{{176, 0}, {784, 1120}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>00F05A1D-A1EA-41AC-B552-FE529F77E904</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>136A0F05-58C2-4503-92EA-C8E61D60AA78</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>196BB4A1-6202-4B07-A85E-804B8C05BFF3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20BCB30A-BD7B-4DB7-B43A-533F07F217F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>299E2AEA-17DA-4227-A68C-A743AB82E86D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E9399D3-9647-45AA-900E-B6E4CE772E5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>308B0151-7B62-48E1-BD42-2201A911DF5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>35E77B97-AF07-4517-9C8B-425D1113FB8F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>38554C14-16BB-43B7-A240-181127DC9B7F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45308655-101C-41E7-BC9F-FC8760BF5B14</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>86C8B548-3645-44E6-AA2B-0D5156B02DE8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8A486C95-748E-441D-BC1F-B2D97E794246</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90B86704-8752-4DF0-97C3-868359CFC739</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B389321B-423A-450A-80A8-6C97796177FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7929AD4-ADBC-4ED3-BA29-670977119F09</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BFDC9C19-07A3-430F-9824-6D12F472098F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4F8D208-507B-45AA-9F06-A815C33D34B2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAAB22DA-94D2-477E-BFC3-65CEC9D18E0F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EDBD6EB2-F631-4F75-B56A-314E5AB21CD9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{872, 0}, {872, 1090}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {384, 1110}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 31 960 1144 0 0 1920 1175 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 1034}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
